<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016 Kiboko SAS
  ~
  ~ @author Grégory Planchat <gregory@kiboko.fr>
  -->

<phpunit
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false">
    <testsuites>
        <testsuite name="MagentoORM">
            <directory>src/MagentoORM/unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
